<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232348714176-gl5mjlbq8jti68sbm7bbakqm25mde1fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232348714176-gl5mjlbq8jti68sbm7bbakqm25mde1fl</string>
	<key>API_KEY</key>
	<string>AIzaSyAZDIx3aM4MIqzHyLdfmnCdKrPhrDDxKRc</string>
	<key>GCM_SENDER_ID</key>
	<string>232348714176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GeorgeKilleen.FlaashCollectables</string>
	<key>PROJECT_ID</key>
	<string>flaashcollectables</string>
	<key>STORAGE_BUCKET</key>
	<string>flaashcollectables.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232348714176:ios:f8b0ed5f9e9a7b056d1925</string>
</dict>
</plist>